<div class="map_outer">

  <div class="map">
    <img src="./img/location.png" alt="">
  </div>
  <div class="map_text">
    <h2>Please turn on location in order to add a new location</h2>
  </div>

</div>
