<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/deception.jpg" alt="">
    <h4>Deception Island</h4>
      <p>It is very cold. Full of birds.</p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="deception_island.html"><h4 class="buttons">Teleport to</h4></a>
    </div>
  </div>
</div>
