
  <div class="card_container">

    <div class="card">
      <a href="moonpug.html"><img class="card_pic" src="./img/moonpug.jpg" alt=""></a>

      <p>The dog on the moon</p>
    </div>
    <div class="card">
      <h1>FAVORITES</h1>
    </div>

    <div class="card">
      <h1>FAVORITES</h1>
    </div>

  </div>
