
<div class="most_popular">
  <aside class="">
    <h2>Most popular</h2>
    <a href="olympus_mons.html" class="p_aside">Olympus mons</a>
    <a href="mont_blanc.html" class="p_aside" >Mont Blanc</a>
    <a href="mariana_trench.html" class="p_aside">Mariana Trench</a>
    <a href="devil_bridge.html" class="p_aside">Devil’s Bridge</a>
    <a href="deception_island.html" class="p_aside">Deception Island</a>
  </aside>
</div>

  <div class="card_container">

    <div class="card">
      <a href="moonpug.html"><img class="card_pic" src="./img/moonpug2.jpg" alt=""></a>
      <p>Moon dog</p>
    </div>
    <div class="card">
      <a href="street.html"><img class="card_pic" src="./img/street.jpg" alt=""></a>
      <p>Gata avenue</p>
    </div>

    <div class="card">
      <a href="floatinghouse.html"><img class="card_pic" src="./img/floatinghouse.jpg" alt=""></a>
      <p>The mysterious floating house</p>
    </div>

  </div>
