
  <div class="card_container">

    <div class="card">
      <a href="moonpug.html"><img class="card_pic" src="./img/moonpug2.jpg" alt=""></a>
      <p>The dog on the moon</p>
    </div>
    <div class="card">
      <a href="street.html"><img class="card_pic" src="./img/street.jpg" alt=""></a>
      <p>A street somewhere</p>
    </div>

    <div class="card">
      <a href="floatinghouse.html"><img class="card_pic" src="./img/floatinghouse.jpg" alt=""></a>
      <p>The mysterious floating house</p>
    </div>

  </div>
