
  <div class="card_container">

    <div class="card">
      <h1>FAVORITES</h1>
    </div>
    <div class="card">
      <h1>FAVORITES</h1>
    </div>

    <div class="card">
      <h1>FAVORITES</h1>
    </div>

  </div>
