<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/floatinghouse.jpg" alt="">
    <p>My own floating house, teleport is the only way up.  </p>
  </div>
</div>
