<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/floatinghouse.jpg" alt="">
    <h4>The mysterious floating house</h4>
    <p>My own floating house, teleport is the only way up.</p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="floatinghouse.html"><h4 class="buttons">Teleport to</h4></a>
    </div>
  </div>
</div>
