<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/mount.jpg" alt="">
    <h4>Mont Blanc</h4>
    <p>When you need a nice place to ski in summer.</p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="mont_blanc.html"><h4 class="buttons">Teleport to</h4></a>
    </div>
  </div>
</div>
