<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/moonpug2.jpg" alt="">
    <h4>Moon dog</h4>
    <p>Work.</p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="moonpug.html"><h4 class="buttons">Teleport to</h4></a>
    </div>

  </div>
</div>
