<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/mars.jpg" alt="">
    <h4>Olympus Mons</h4>
    <p>Mountain on mars. Nice view. Lots of red. </p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="olympus_mons.html"><h4 class="buttons">Teleport to</h4></a>
    </div>
  </div>
</div>
