<div class="settings_container">

  <div class="settings">
    <h4 class="settings_title">Locations</h4>
    <h4 class="off">OFF</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Quantum physics</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Oxygen bubble</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Teleportation Mode</h4>

    <h4 class="on" onclick="onoff()" id="instant">Instant</h4>
    <h4 class="off" onclick="onoff()" id="delay">Delay</h4>
  </div>

</div>
