<div class="settings_container">

  <div class="settings">
    <h4 class="settings_title">Locations</h4>

    <h4 class="off" onclick="settings_locations()" id="locations_on">ON</h4>
    <h4 class="on" onclick="settings_locations()" id="locations_off">OFF</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Quantum physics</h4>

    <h4 class="on" onclick="settings_quantum()" id="quantum_on">ON</h4>
    <h4 class="off" onclick="settings_quantum()" id="quantum_off">OFF</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Oxygen bubble</h4>

    <h4 class="on" onclick="settings_oxygen()" id="oxygen_on">ON</h4>
    <h4 class="off" onclick="settings_oxygen()" id="oxygen_off">OFF</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Teleportation Mode</h4>

    <h4 class="on" onclick="onoff()" id="instant">Instant</h4>
    <h4 class="off" onclick="onoff()" id="delay">Delay</h4>
  </div>

</div>
