<div class="settings_container">

  <div class="settings">
    <h4 class="settings_title">Locations</h4>
    <h4 class="off">OFF</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Quantum physics</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Oxygen bubble</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4 class="settings_title">Teleportation Mode</h4>


      <div class="drop_down_container">
        <li class="li_drop">
          <ul>
            <li class="li_drop"><h4 class="on">Instant</h4></li>
            <li class="li_drop"><h4 class="off">Delay 3s</h4></li>
            <li class="li_drop"><h4 class="off">Premium</h4></li>
          </ul>
        </li>

    </div>
  </div>

</div>
