<div class="settings_container">

  <div class="settings">
    <h4>Locations</h4>
    <h4 class="off">OFF</h4>
  </div>

  <div class="settings">
    <h4>Quantum physics</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4>Oxygen bubble</h4>
    <h4 class="on">ON</h4>
  </div>

  <div class="settings">
    <h4>Teleportation Mode</h4>
    <h4 class="on">insert dropdown menu</h4>
  </div>

</div>
