<div class="card_container">
  <div class="large_card">
    <img class="card_pic large_card_pic" src="./img/street.jpg" alt="">
    <h4>Gata avenue</h4>
    <p>Home to the best resturant in the country.</p>

    <div class="Action_buttons">
      <a href="favorites.html"> <h4 class="buttons">Back</h4> </a>
      <a href="street.html"><h4 class="buttons">Teleport to</h4></a>
    </div>

  </div>
</div>
